[2018-02-12 12:45] DinukaGayan opened #9 "Filter"
Can you describe how to implement filter function in this?Column wise searching and All columns

[2018-02-12 12:56] brunano21 commented on #9
You can rewrite the `reloadTable` function as the following, passing a second arg to the `query` function:
[code]
filterFunc signature is `(item: T, index: number, items: T[]) => boolean)`

[2018-02-14 09:39] prakashkaruppiah opened #10 "we need to create nested table"
We need to create nested table, when we click row , we need to show child table based on parent row id.
Is this possible ? Please help up us.
look like this table :
![image](https://user-images.githubusercontent.com/6112905/36197300-66ce991a-1199-11e8-8488-7bdee5a86702.png)

[2018-02-16 12:43] prakashkaruppiah opened #11 "How to hide list and refresh button on top of the grid"
How to hide list and refresh button on top of the grid?Please help us
![image](https://user-images.githubusercontent.com/6112905/36308061-fd392f62-1344-11e8-8d5e-a493f2f1f7cb.png)

[2018-02-18 18:26] dhanushkajayasekara opened #12 "sorting and pagination icons issue"
Table sorting icons and pagination icons are not showing... please help

[2018-02-21 08:01] AbQayyum opened #13 "Can't bind to 'items' since it isn't a known property of 'data-table'"
Exception details
Error: Template parse errors:
Can't bind to 'items' since it isn't a known property of 'data-table'.
1. If 'data-table' is an Angular component and it has 'items' input, then verify that it is part of this module.
2. If 'data-table' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.
3. To allow any property

[2018-02-26 05:44] #11 closed

[2018-02-26 09:41] brunano21 commented on #11
You can hide the header setting `header=false`.

[2018-02-26 09:42] brunano21 commented on #12
What error do you have? Are you including Bootstrap v4.0 in your application?

[2018-02-26 09:42] #9 closed

[2018-02-28 08:44] brunano21 commented on #13
Hi,
Sorry for the late reply. Did you sort it out?

[2018-02-28 12:54] 28pankaj commented on #13
I have also the same issue, can anybody solved this???

[2018-03-02 09:15] brunano21 commented on #13
@28pankaj Can you share your code, please?

[2018-03-06 13:51] AbQayyum commented on #13
@brunano21 I haven't solved it yet. will spare some time to figure this out.

[2018-03-06 13:58] brunano21 commented on #13
@AbQayyum Do you want to share some code?

[2018-03-06 13:59] brunano21 commented on #12
Closing for inactivity.

[2018-03-06 13:59] #12 closed

[2018-03-07 14:41] vpenkov89 opened #14 "Custom pagination limit list"
Hi, is it possible to change pagination limit list to custom list? 50, 100 and 250 too big for our project

[2018-03-08 06:45] GautamUpreti123 opened #15 "pagination UI in angular5-datatable and column separated lines are not visible."
Can you please tell me what are the specific bootstrap and fontawesome link i need to add in index.html file. I am using angular5-datatable with metronic theme, Is this an issue?
![image](https://user-images.githubusercontent.com/37171110/37137054-23b33144-22ca-11e8-9e8a-cafbd3459e3e.png)

[2018-03-08 18:00] brunano21 commented on #15
Hi,

you can install font-awesome and bootstrap first
[code]
and then add the following to `.angular.cli.json`
[code]

[2018-03-09 08:28] brunano21 commented on #14
Hi,

At the moment it's not possible, but this feature could be added.

[2018-03-09 18:52] suse0 opened #16 "Custom sort function"
Hi Bruno
thanks for your work and packaging this Component!

Is it possible to add not only a flag "sortable" to a column, but also a custom function? In our project we've got complex contents. E.g. a "Beleg": It may have a date, but not always, and as an id a composite number or a string, which we all string together with a pipe.

I'm looking forward to your answer. Thank you in advance.
Regards

[2018-03-09 20:50] brunano21 commented on #16
Hi Susanne,

you could extend **[DataTableResource](https://github.com/brunano21/angular-4-data-table/blob/master/src/tools/data-table-resource.ts)** and override `query()` function.

[2018-03-12 10:38] AbQayyum commented on #13
@brunano21 the issue was resolved when updated the node version to 7.9.0. you may close this.

[2018-03-12 13:31] #13 closed

[2018-03-13 05:14] 28pankaj commented on #13
@brunano21 mine node version is 8.9.3.., you mean to say I degrade the version then it will work.

[2018-03-13 08:31] brunano21 commented on #13
@28pankaj which of version of angular are you using?

[2018-03-13 09:03] 28pankaj commented on #13
@brunano21 "@angular/core": "^5.2.0",

[2018-03-13 14:55] brunano21 commented on #13
@28pankaj when are you getting this error?At runtime? Please share some code or screenshot, otherwise I cannot help you.

[2018-03-15 07:33] AbQayyum commented on #13
@28pankaj  When I was facing the issue I had different node version, my `ng -v` command shows another version of node and `node -v ` command shows the other.

[2018-03-22 16:42] veerasrikanthv opened #17 "Data table keyboard navigation with arrow keys"
At present i am unable to navigate in side the table with keyboard.
How i can navigate the by keyboard arrow keys like left, right, up and down in side the table ?

[2018-03-23 08:36] brunano21 commented on #17
Hi. The library does not support this functionality, because it's not meant to. What are the reasons for looking forward this feature?

[2018-03-23 08:36] brunano21 commented on #15
Did you sort it out?

[2018-03-23 14:18] veerasrikanthv commented on #17
Because of user have large set of rows and columns and user wants to traverse cell wise focus to read data in the table (for user convenience).
And if user wants to make select a particular row by using **enter key** where the current focus is there on cell.

Could you please help me out, how can i achieve these functionalities either customize API or any other way?

[2018-03-29 04:10] Hepallucion opened #18 "Module not found error?"
Most Likely this is an angular-newb type of issue, but I stared using angular5-data-tables to replace angular-2-data-tables when I was upgrading my project to angular5. This is the next error I'm encountering. Any help you can give would be great.

[code]

[2018-03-29 14:18] GautamUpreti123 commented on #15
Thanks for replying @brunano21, but I am getting this error after following your steps.
ERROR in multi ./node_modules/bootstrap/dist/css/bootstrap.min.css ./node_modules/font-awesome/css/font-awesome.css ./src/styles.css
Module not found: Error: Can't resolve '/home/algo/Documents/projects/thumbtack-adminpanel/src/styles.css' in '/home/algo/Documents/projects/thumbtack-adminpanel/node_modules/@ang

[2018-03-29 14:24] GautamUpreti123 commented on #15
Though I have resolved the pagination UI issue by overiding some css class. But still its an issue as I still can't see the vertical column separating lines.

[2018-04-03 20:19] lenichols opened #19 "How to Use this?"
I need to add sort and pagination functionality to my tables. I've installed the lib but how do i apply it to my tables?

[2018-04-06 12:09] brunano21 commented on #15
Can you share your .angular.json please?

[2018-04-06 12:37] GautamUpreti123 commented on #15
{
    "name": "thumbtack",
    "version": "0.0.0",
    "license": "MIT",
    "scripts": {
        "ng": "ng",
        "start": "webpack-dev-server --port=4201",
        "lint": "tslint \"src/**/*.ts\"",
        "test": "karma start ./karma.conf.js",
        "static-serve": "cd dist && live-server --port=4201 --host=localhost --entry-file=/index.html",
        "bundle-report": "webpack-bundle-analy

[2018-04-06 12:38] brunano21 commented on #15
this is package.json. I would like to see .angular-cli.json.

[2018-04-06 12:42] GautamUpreti123 commented on #15
{
  "$schema": "./node_modules/@angular/cli/lib/config/schema.json",
  "project": {
    "name": "thumbtackadmin"
  },
  "apps": [
    {
      "root": "src",
      "outDir": "dist",
      "assets": [
        "assets",
        "favicon.ico"
      ],
      "index": "index.html",
      "main": "main.ts",
      "polyfills": "polyfills.ts",
      "test": "test.ts",
      "tsconfig": "tsconfig.app.json",

[2018-04-06 13:18] GautamUpreti123 commented on #15
I mentioned earlier after adding this in cli.json file I am getting this error:-

ERROR in multi ./node_modules/bootstrap/dist/css/bootstrap.min.css ./node_modules/font-awesome/css/font-awesome.css ./src/styles.css
Module not found: Error: Can't resolve '/home/algo/Documents/projects/thumbtack-adminpanel/src/styles.css' in '/home/algo/Documents/projects/thumbtack-adminpanel/node_modules/@angular/c

[2018-04-11 09:57] GautamUpreti123 commented on #15
I am using angular cli version 1.6.7

[2018-04-11 11:08] brunano21 commented on #15
Most like it's because of a bug in angular-cli. I had the same and the issue is not present since 1.7.0. To work around it you can type the following on your console before running `ng serve` or `ng build`

(Window’s command prompt – no quotes): `set BROWSERSLIST=last 2 versions`
(Unix-like shell - yes quotes): `export BROWSERSLIST='last 2 versions'`

[2018-04-13 14:14] Kailayla opened #20 "Buttons not styled correctly"
I just started out with this library for a project I'm working on. I just can't get the buttons to style correctly. They look just like little rectangles sitting there.
I got Bootstrap and included the style in the angular-cli.json as seen in another issue topic.
Now it looks like this.
![screenshot 83 _blur](https://user-images.githubusercontent.com/4437683/38738860-8682a7a2-3f33-11e8-8313-e122ed

[2018-04-13 14:29] Kailayla commented on #20
Ah yes, that was indeed the ony thing I missed. Thank you!

[2018-04-13 14:29] #20 closed

[2018-04-13 16:47] veerasrikanthv commented on #17
Any idea/suggestions to navigate by using keyboard in data table ?

[2018-04-15 09:12] brunano21 commented on #17
Hi @veerasrikanthv, unfortunately, I'm not planning to add this feature at the moment.

[2018-04-15 09:12] #17 closed

[2018-04-15 09:14] brunano21 commented on #17
What you can do is to add an [HostListener ](https://angular.io/api/core/HostListener) and implement the keyboard navigation by yourself.

[2018-04-16 19:02] Christoffleroux commented on #18
Also getting this issue using angular 5.2.1 rxjs 5.5.1

[2018-04-17 09:47] Christoffleroux commented on #18
@Hepallucion have you found solution/workaround to the issue?

[2018-04-17 16:28] veerasrikanthv commented on #17
Thank you very much for the response.
Here i have struct with below implementation.

**I have tried to implement by using a focus directive as below.**
export class FocusDirective implements OnChanges {
  @Input() focus: boolean;
  constructor(private element: ElementRef) { }
  ngOnChanges() {
      if (this.focus) {
        this.element.nativeElement.focus();
      }
  }
**And i have added below

[2018-04-20 02:39] Hepallucion commented on #18
Nope, I've not found the fix yet. The issue is probably in webpack. What version of webpack are you using?

[2018-04-23 10:56] Christoffleroux commented on #18
Hi Not using web pack, yet.... just referecing the bundle as is.

[2018-04-24 12:02] esiva opened #21 "Setting custom [limit] makes limit select box default to empty"
if I set [limit]="5" then the limit select box at the bottom defaulted to empty, however it has values like 10, 25, 50, 100 and 250. It would be nice if the value set in [limit] is included in the limit select box and selected as default value

![screenshot from 2018-04-24 16-44-43](https://user-images.githubusercontent.com/15943994/39183959-661947a0-47df-11e8-933e-1bda07199821.png)

[2018-04-24 13:18] brunano21 commented on #21
Hi, I'm planning this feature in the next release...I hope before the end of this week.

[2018-04-24 13:19] brunano21 commented on #14
I'm planning to add this feature in the next version.

[2018-04-24 16:44] Bank5z0rSqt commented on #14
@brunano21  Any time frame for that to happen? :)

[2018-04-26 07:45] KumailHussain opened #22 "Can't bind to 'pagination_limit' since it isn't a known property of 'data-table"
1. If 'data-table' is an Angular component and it has 'pagination_limit' input, then verify that it is part of this module.
2. If 'data-table' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.
3. To allow any property add 'NO_ERRORS_SCHEMA' to the '@NgModule.schemas' of this component. ("
  <data-table id="persons-grid"

[2018-05-04 01:31] Hepallucion commented on #18
Ive not been able to find the solution yet. What did you end up doing Christoffleroux?

[2018-05-07 05:44] Christoffleroux commented on #18
@Hepallucion @brunano21  Nope haven't found a workaround

[2018-05-07 07:09] brunano21 commented on #22
Hi, I just published a newer version of the library, v.1.0.0 which includes tons of changes. Could you try and see if this version fixes your issue?

[2018-05-07 07:11] brunano21 commented on #21
Hi. I have fixed this within last release, v.1.0.0. Can you try it again, please?

I have also added a proper documentation. Please, have a read. Thank you.

[2018-05-07 07:11] #21 closed

[2018-05-07 07:12] brunano21 commented on #19
Hi, do you want to add server-side pagination/sorting or client-side's?

[2018-05-07 07:13] brunano21 commented on #15
Closing this for inactivity. Please, if your problem still persists, don't hesitate to open it again.

[2018-05-07 07:13] #15 closed

[2018-05-07 07:13] brunano21 commented on #18
Hi, I just published a newer version of the library, v.1.0.0 which includes tons of changes. Could you try and see if this version fixes your issue?

[2018-05-07 07:14] brunano21 commented on #14
Hi, I just published a newer version of the library, v.1.0.0 which includes tons of changes, like the possibility to defines your own `pageLimits`. Have a read of the docs, please.

[2018-05-07 13:03] Christoffleroux commented on #18
HI @brunano21 @Hepallucion

The update did resolve this issues.

[2018-05-07 13:03] brunano21 commented on #18
Awesome 👍

[2018-05-07 13:03] #18 closed

[2018-05-07 13:03] Christoffleroux opened #26 "Bootstrap 4 Styling"
Is it posible to get the table's header to be rendered using the default bootstrap styles (No Dark Headers).

In BS the table headers are styled accorginly
![image](https://user-images.githubusercontent.com/14099247/39703354-1aef640c-5208-11e8-97e2-1102b1ac19de.png)

[2018-05-08 20:47] #22 closed

[2018-05-08 20:48] #14 closed

[2018-05-10 03:02] ferprez commented on #19
Hi @brunano21, I need to implement server side pagination/sorting. How can I do it with your library ?

[2018-05-10 20:46] brunano21 commented on #26
Ops, my bad, I'll fix that soon.

[2018-05-10 20:57] brunano21 commented on #19
Hi @ferprez, I was about to write an example, but then I remember about this sample code which implements what you are asking.
Please refer to [this](https://github.com/ggmod/angular-2-data-table-demo/blob/master/app/demo1/data-table-demo1-remote-service.ts) to understand how you can implement server-side pagination and/or sorting.

[2018-05-10 20:57] #19 closed

[2018-05-10 20:58] brunano21 commented on #10
Hi @prakashkaruppiah, are you still looking for an advice for this?

[2018-05-11 21:49] codegagan commented on #12
I am facing this issue, the angle left symbols are from font-awesome. I installed it, still cannot see.

[2018-05-12 10:01] brunano21 commented on #12
@codegagan can you share you `. angular-cli.json`, please?

[2018-05-12 10:11] codegagan commented on #12
@brunano21  here it is [angular-cli](https://github.com/codegagan/oshop/blob/master/.angular-cli.json)

I have the bootstrap import in [styles.css](https://github.com/codegagan/oshop/blob/master/src/styles.css)

I have tried putting bootstrap import in  [angular-cli](https://github.com/codegagan/oshop/blob/master/.angular-cli.json)
 too for datatable, but did not help.

[2018-05-12 14:12] brunano21 commented on #12
@codegagan please, can you try to move the import into `angular-cli.json` directly, like shown [here](https://github.com/brunano21/angular-4-data-table/blob/master/.angular-cli.json#L24)?

[2018-05-12 14:35] codegagan commented on #12
@brunano21 It worked thanks a lot, font-awesome import was missing, somehow I missed while reading documentation.

[2018-05-14 09:06] brunano21 commented on #10
@prakashkaruppiah closing this for inactivity. If you still want to discuss this, feel free to reopen it.

[2018-05-14 09:06] #10 closed

[2018-05-14 11:42] esiva commented on #21
Awesome! It works nicely. Thanks.

[2018-05-16 20:00] codegagan opened #27 "Error with prod build"
My [application](https://github.com/codegagan/oshop) runs fine with `ng serve` but failing with --prod build:

[2018-05-16 21:34] gpthome opened #28 "Cannot read property 'length' of undefined"
We are using this module for the first time.  Works great, except for one small problem.  The table is basically rendering, but ends with a JavaScript error which then prevents other scripts from running.

We are using "angular5-data-table": "1.0.0",

We just ran `npm install`, then `ng serve`

Also noticed the example here https://www.npmjs.com/package/angular5-data-table shows `itemCount` but th

[2018-05-18 06:48] brunano21 commented on #28
@gpthome There is a typo in the documentation, the right property is `itemCount` - I'll fix that. Can you show where you set `incidents`? Also, if `incidents` is initially `undefined` the `itemCount=incidents.length` will cause an exception. In this case, you could use the safe navigation operator `?`, i.e. `itemCount=incidents?.length`.

[2018-05-18 06:49] brunano21 commented on #27
@codegagan, ops, I'll fix that, unless you want submit a PR. :-)

[2018-05-18 07:10] codegagan commented on #27
@brunano21 , I already submitted two PRs referenced above. Please accept whichever you like.

[2018-05-18 07:16] codegagan commented on #27
Also please update the library to npm asap, My application is blocked on aot buiilds because of this.
Thanks

[2018-05-18 11:27] angchoo commented on #26
is it fixes??

[2018-05-18 11:28] brunano21 commented on #26
@angchoo not yet - I'll fix this early next week.

[2018-05-18 11:30] angchoo commented on #26
thanks a lot. please let me know when it is done.

[2018-05-21 00:09] ShiruJan opened #31 "Problems with pagination."
Hello,

I have the next problem with the table, the pagination not works, do i need some configuration?
![captura de pantalla 2018-05-20 a la s 19 00 11](https://user-images.githubusercontent.com/11635458/40285403-30c0a95e-5c61-11e8-83c0-a4e2a6c16d21.png)

My code:

<data-table id="my-table"
                    [items]="v_report_result"
                    [itemCount]="v_report_result_count"

[2018-05-21 09:10] brunano21 commented on #31
Hi,
What do you mean it does not work? Do you get some errors?

[2018-05-21 16:11] codegagan commented on #27
When do you plan to review the PR, please let me know if any changes are required ?

[2018-05-21 20:31] ShiruJan commented on #31
Hello brunano21, thanks for the answer.

The problem I have is, currently the grid shows 45 records, but the grid is set to 15 records per page. Why do you show me all the records and not 15 records per page?

I was checking and I do not mark any error.

Do I need some configuration?

I hope to have explained.
Thank you very much!

[2018-05-23 19:16] brunano21 commented on #28
@gpthome do you have any news on this issue?

[2018-05-23 19:19] #27 closed

[2018-05-23 19:33] brunano21 commented on #26
Fixed with 948959a25ae8c38533b24be72dc4d13c571a13f8.

[2018-05-23 19:33] #26 closed

[2018-05-23 19:39] brunano21 commented on #31
Uhm, that's weird. Can you share part of your code, please?

[2018-05-28 08:09] Divyeshkhatri commented on #31
Hi i am facing same issue pagination and sorting not working. Table is showing all records

[2018-05-28 10:11] jeanDenison commented on #31
I had the same issue and I fixed it by passing the limit in the query params while initialising the table

`private initializeTable(contacts: ContactModel[]) {
    this.tableResource = new DataTableResource(contacts);
    this.tableResource
      .query({offset: 0, limit: 10})
      .then(items => this.items = items);
    this.tableResource.count()
      .then(count => this.itemCount = count);
  }

[2018-05-28 10:16] jeanDenison opened #32 "ng build --prod Error in angular5-data-table.d.ts.DataTablePagination"
`ERROR in node_modules/angular5-data-table/angular5-data-table.d.ts.DataTablePagination.html(3,11): : Argument of type 'number | "0"' is not assignable to parameter of type '(substring: string, ...args: any[]) => string'.
  Type 'number' is not assignable to type '(substring: string, ...args: any[]) => string'.
`

[2018-05-28 10:46] brunano21 commented on #31
@Divyeshkhatri Can you share your code please? Where do you initialize the table?

[2018-05-28 10:48] brunano21 commented on #32
@jeanDenison which lib version are you using? This should be fixed already into `v1.0.1`.

[2018-05-28 11:26] #32 closed

[2018-05-29 09:45] angchoo opened #33 "pipe number to 2 dp in data-table-column"
Hi Brunano,

Thanks for fixing the header color. Great work!

I would like to know if we can pipe a number to 2 decimal places via data-table-column?

Best Regards

[2018-05-30 13:13] Divyeshkhatri commented on #31
import {BrowserModule} from '@angular/platform-browser';
import {NgModule} from '@angular/core';
import {AppComponent} from './app.component';
import {Route, RouterModule} from '@angular/router';
import {HttpClient, HttpClientModule} from '@angular/common/http';
import {Ng4LoadingSpinnerModule} from 'ng4-loading-spinner';
import {ToastModule} from 'ng2-toastr/ng2-toastr';
import {BrowserAnimations

[2018-05-31 10:06] smitfrancois opened #34 "Font awesome v 5.0.0 and up not supported on sorting icons"
Hi

We are facing issues with icons not displaying from font awesome v 5.0.0.0.

When I look at the html after the code has rendered I see the following:
![image](https://user-images.githubusercontent.com/13797668/40776378-dd849eea-64ca-11e8-81a4-7bf1f01786b8.png)

but the icon class name has changed to
<i class="fas fa-sort-up"></i>
<i class="fas fa-sort-down"></i>

Please advise?

Regards

[2018-05-31 10:10] brunano21 commented on #34
Hi,
the library supports only font-awesome v4.x

Unfortunately `sort-desc` was renamed to `sort-down` in v.5.x.

[2018-05-31 10:10] #34 closed

[2018-05-31 11:09] smitfrancois commented on #34
Yeah thanks. I only saw on your readme file after I logged the issue. Found a work around. Thanks. Will there be any plans in future to implement support for V.5.x?

[2018-06-06 08:06] brunano21 commented on #31
@SekinaB where do you set `table.itemCount`?

[2018-06-08 08:43] SekinaB commented on #31
Thank you for your help, I did forgot to change the code of the initialisation of itemCount and it was my problem. Thanks again !

[2018-06-15 11:28] samvelasatryan opened #35 "Column resizing issue"
Hi, I have a problem with resizing columns.
When I add width attribute for each column, during initial resizing, the column size is bigger then I move it.
Example. "
move 1px;
Old Width 100,
new Width 214.

move 1px;
Old Width 214,
new Width 380."

Can you help me?

[2018-06-15 12:53] brunano21 commented on #33
Closing this for inactivity. Please, feel free to reopen it if needed.

[2018-06-15 12:53] #33 closed

[2018-06-27 05:02] ferprez commented on #31
@brunano21 it's possible to customize the pagination layout? overriding with an ng-template ?

[2018-06-27 07:46] brunano21 commented on #31
@ferprez, unfortunately, it's not possibile at the moment...but that's a nice feature to have...I may work on that, but PRs are always welcome :-)

[2018-07-04 08:02] brunano21 commented on #35
Closed via #36

[2018-07-04 08:02] #35 closed

[2018-07-04 22:39] stephenmutua254 commented on #31
Hey. I just installed and created a table using this library but the pagination is not working well.
Also the sorting does not work.
Please help

[2018-07-04 23:13] stephenmutua254 commented on #31
Sample code of the html template
<data-table
[items]="items"
[itemCount]="itemCount"
(reload)="reloadItems($event)"
[pagination]="true"
[pageLimits]="[5, 30, 45]">

  <data-table-column [property]="'title'" [header]="'Title'" [sortable]="true" [resizable]="true">
  </data-table-column>

Here ie the result I get.
![tshopgit2](https://user-images.githubusercontent.com/15028729/42295995-f0365288-7ff8

[2018-07-05 05:49] brunano21 commented on #31
@stephenmutua254 I think you are missing font-awesome for icons. Please, follow the installation step described into the README.md file.

[2018-07-05 08:31] stephenmutua254 commented on #31
I don't think if its the icons that are causing it not to work. But let me install and see if it will.

[2018-07-05 08:40] stephenmutua254 commented on #31
I have installed font awesome but nothing has changed.
Sorting does not work when I click the column headers.
Pagination as you can see on the picture above its not working either. It shows all the records in one page  instead of the specified limit of 5.
And when I click on the next page it shows same previous records.

[2018-07-05 08:42] stephenmutua254 commented on #31
When I hover the mouse on the column headers it says 'activate to sort descending'. I have enabled sorting on the code so I don't know what that means.

[2018-07-05 08:44] brunano21 commented on #31
@stephenmutua254 can you show me where you set `items` and `itemsCount`?

Also, you did set `[sortable]=true` hence you have enabled sorting for that specific column.

[2018-07-05 08:47] stephenmutua254 commented on #31
![tshopgit22](https://user-images.githubusercontent.com/15028729/42312501-20120ee8-8049-11e8-98fa-643dfc5204c8.JPG)

[2018-07-05 08:52] brunano21 commented on #31
I think you are missing how the table works. I don't understand why you are using `initializeTable` function, as I believe you don't need it.

You should do something like:

[code]

getAll() may return an object containing all the products plus the length of the products set.

Of course, this makes if you have server-side pagination.

[2018-07-05 09:01] stephenmutua254 commented on #31
I used the initializeTable function outside the constructor so that I can use it when performing other operations such as  filtering.
I have tried your suggestion above but it gives me an error.

[2018-07-05 09:03] stephenmutua254 commented on #31
![tshopgit23](https://user-images.githubusercontent.com/15028729/42313419-6398841a-804b-11e8-93b4-d0a1266ac1b8.JPG)

[2018-07-06 03:57] dpadula opened #37 "Header buttons can't be resized or customized"
Is there any way to modify the header buttons? I need to separate
the reload button from the column selector.

![sin titulo](https://user-images.githubusercontent.com/18007723/42359315-7ef1e7e4-80b7-11e8-8602-2d646b12f0a7.png)

I'm using the angular5-data-table npm package by the way.
All the bootstrap (and other) styles I've tried in my component.css file did not worked.

Thanks in advance.

Chee

[2018-07-13 11:39] prakashkaruppiah opened #38 "Drag and drop column and grouping is available for angular-4-data-table?"
Drag and drop column and grouping is available for angular-4-data-table?

[2018-07-13 12:57] brunano21 commented on #38
Unfortunately, these features are missing.

[2018-07-13 12:57] #38 closed, assigned to nobody

[2018-07-16 04:48] prakashkaruppiah commented on #38
Do you have any idea to implement this feature in future?

[2018-07-16 10:34] brunano21 commented on #38
Hi @prakashkaruppiah. Unfortunately no plans for this feature in the short term. But I'm open for pull requests!

[2018-07-16 11:03] prakashkaruppiah commented on #38
Thanks for your response.

[2018-07-17 05:04] prakashkaruppiah opened #39 "Can we edit row in angular-5-datatable?"
Hi @brunano21 ,
Can we edit row in angular-5-datatable? Please help us.

[2018-07-17 10:10] brunano21 commented on #39
What do you mean by _edit_?

[2018-07-18 05:08] prakashkaruppiah commented on #39
Like grid cells editing, we did cell editing to angular 4 data table using input box, but its shows input box always. We need, when we click that cell, then only show edit mode input box.
Code
 <data-table-column [property]="'ReceicedQty'" [header]="'Received Qty'" [sortable]="true" [resizable]="true"  [width]="90">
 <ng-template #dataTableCell let-item="item">
<input type="number" name="ReceicedQ

[2018-07-18 05:58] prakashkaruppiah opened #40 "How to create dynamic column?"
Hi @brunano21 ,
How to create dynamic column in angular-4-data-table?. Please help us.

[2018-07-18 11:59] brunano21 commented on #39
You could bind a click event to the cell and swap the content with an input field within the bound function. Does this fix your issue?

[2018-07-18 12:26] prakashkaruppiah commented on #39
Can you give me some example code?

[2018-07-18 15:02] cfasol opened #41 "possibility to show or hide header button and pagination server side"
possibility to show or hide
possibility to mange pagination server side
thanks

[2018-07-18 18:40] brunano21 commented on #41
???

[2018-07-23 13:00] prakashkaruppiah opened #42 "How to show sum of amount in data table column footer?"
How to show sum of amount in data table column footer? Is this possible ? Please help us.

[2018-08-01 22:33] Lesger117 opened #43 "Can send a component on rowToolTip?"
Is it possible to return a component on a tooltip, for example get something of the row and return a loaded component that uses that row data and displaying that component template on the tooltip?

[2018-08-02 16:59] dpadula opened #44 "How about coloring by column via dataTableCell?"
Is this possible?
In this page https://ggmod.github.io/angular-2-data-table-demo/ the example #3 have a column colored by a function:

        <data-table-column
            [property]="'rating'"
            [header]="'Rating'"
            [sortable]="true"
            [cellColors]="cellColor">
        </data-table-column>

Where the function in the .ts file is:

    cellColor(car) {
        retur

[2018-08-02 17:04] dpadula commented on #44
Is this the correct way?

:host /deep/ .data-column.column-nameColumn {
    background-color: #ffaaff;
}

[2018-08-03 08:53] brunano21 commented on #43
Hi @Lesger117, the rowToolTip is only for the row title. But you could manage what you are trying to do having some logic that when the user clicks on a button or hover the row itself, you can bind a function that takes the row data as input and displays your component template.

[2018-08-03 08:53] brunano21 commented on #41
@cfasol do you have any progress on this?

[2018-08-03 08:56] brunano21 commented on #44
yes, you can colour a specific cell. If you download the entire repo and put the demo up and running, you can see various examples.

Also, you can use both ways of applying cell colour.

[2018-08-03 08:56] #44 closed, assigned to nobody

[2018-08-03 08:57] brunano21 commented on #40
what do you mean by creating dynamic columns?

[2018-08-03 08:58] brunano21 commented on #39
@prakashkaruppiah are you still interested in this?

[2018-08-03 08:59] brunano21 commented on #31
@stephenmutua254 are you still experiencing the reported issue? or did you find out the solution?

[2018-08-03 08:59] brunano21 commented on #37
@dpadula are you still interested in this? or did you find out a solution?

[2018-08-03 09:37] cfasol commented on #41
Hi, yes I forked your project and I added 2 properties to manage buttons's
visibility( showReloadButton and showColumnSelectorButton ) I undestood how
to manage server side operations

Sorry, but are you italian?

thanks regards

Saluti
Fasolin Cristopher

<http://www.destinazioneinformatica.com/>

Il giorno ven 3 ago 2018 alle ore 10:53 Bruno Bruzzano <
notifications@github.com> ha scritto:

[2018-08-03 12:34] dpadula commented on #37
I'm sorry yes! I've found the solution. That was a bit weird because I didn't know this css form to access the styles of component.

:host /deep/ .nameOfTheClassToModify

Thanks anyway

[2018-08-03 13:23] dpadula commented on #44
Genius, thanks! I really appreciate this.

[2018-08-03 18:50] brunano21 commented on #41
Cool, if you don't mind, you can create a PR too. And yes, I'm Italian :-)

[2018-08-03 18:50] #41 closed, assigned to nobody

[2018-08-03 19:42] cfasol commented on #41
Great, I am italian too... thanks
Ciao e buona serata.

Il ven 3 ago 2018, 20:50 Bruno Bruzzano <notifications@github.com> ha
scritto:

[2018-08-06 06:30] prakashkaruppiah commented on #39
yes @brunano21 , Please give me suggestion.

[2018-08-06 06:40] prakashkaruppiah commented on #40
Hi @brunano21 ,
We need
data-table-column
dynamically for example we pass data set to Items property [items]="dataset",
First time columns  will  come : Col1,Col2,Col3
Second time columns will come  : Col1,Col2,Col3,Col4,Col5
In this scenario i tried *ng for for data column dynamically generation but its not working.
Please give me any suggestion.

[2018-08-06 07:08] brunano21 commented on #39
`component.html`:
[code]
`component.ts`:
[code]

[2018-08-06 07:08] #39 closed, assigned to nobody

[2018-08-06 08:46] prakashkaruppiah opened #45 "Row expand event is available in data table?"
Hi,
Row expand event is available in data table?.Please help us.

[2018-08-10 10:23] BhanukaRC opened #46 "How to use the table to display complex JSON objects?"
{ keyValues: {name: "Tom" ,  age: "22" }, height: "1.5" }
If the JSON looks like this and what if I want to display 'name' property as a column?
Entering it like this doesn't work
<data-table-column
            [property]="'keyValues.name'"
            [header]="'Name'"
            [sortable]="false">
 </data-table-column>

property field only expects a string!

[2018-08-15 12:47] dpadula opened #47 "The best way to subscribe to selectedRow event?"
What is the best way to subscribe to event when the row is selected?

I need to change the row color when the row is selected no matter where the user click

the following is for one column/cell, but i need to change the row color always the user click in a row.

    <data-table-column
      header="Actions">
      <ng-template #dataTableHeader let-item="item">
        <i>Actions</i>
      </ng-te

[2018-08-15 14:57] potjerodekool opened #48 "Datatable stays on the current page after a search"
I have a page with an search component and a datatable.
If I have 20 results and go to page 2 and do a search, the search component
calls a search function but after the search is completed the datatable still show that I am on page 2.
Is there a way to fix this so that the datatable show page 1 after a search?

search(searchQuery: string) {
    this.careProductsDataResource.query({index: 0, offse

[2018-08-16 08:29] potjerodekool commented on #48
I found a solution by using the offset.

<data-table
                  [items]="careProducts"
                  [itemCount]="careProductsCount"
                  (reload)="reloadCareProducs($event)"
                  [offset]="careProductsOffset">
.... columns
</data-table>

In my reload function I get the offset from the DataTableParams and update the careProductsCount
field. Then in my search fu

[2018-08-16 08:29] #48 closed, assigned to nobody

[2018-08-17 06:53] prakashkaruppiah commented on #42
Hi @brunano21 ,
Any updates?

[2018-08-20 13:54] brunano21 commented on #46
Unfortunately, it's not currently supported.

[2018-08-20 14:02] brunano21 commented on #42
What do you mean by sum of amount? Amount of what?
Also, it doesn't exist any _data table column footer_.

[2018-08-21 05:46] prakashkaruppiah commented on #42
hi @brunano21 ,
I mean column aggregate(SUM,AVG, etc) function

Please see this link (column name :price )  footer total amount :
https://www.jqwidgets.com/jquery-widgets-demo/demos/jqxgrid/customaggregates.htm?arctic

[2018-08-21 06:01] brunano21 commented on #42
Hi,
No it's not natively supported. However you could manipulate the table data and obtain the same result.

[2018-08-21 09:48] prakashkaruppiah commented on #42
OK Thanks we will check.

[2018-08-21 10:48] #42 closed, assigned to nobody

[2018-08-22 11:52] dpadula commented on #47
Ok, I found how do this:

`<div class="containerTableSET">`
`  <data-table `
  [items]="items"
  [itemCount]="itemCount"
  [indexColumn]="false"
  [header]="false"
  [multiSelect]="true"
  [selectColumn]="true"
  [selectOnRowClick]="true"
  (reload)="reloadItems($event)"
  **(rowClick)="filaClick($event)" <--**
`  >`
and in the component:

  filaClick(row) {
    console.log(row.row);
    console.l

[2018-08-22 14:22] brunano21 commented on #47
@dpadula Could you check `table.selectedRows` into `filaClick()` function?

[2018-08-22 14:24] brunano21 commented on #47
@dpadula Can you create a StackBlitz so we can check together? You can use [this ](https://stackblitz.com/edit/angular5-data-table-live-demo) as starter.

[2018-08-22 14:59] dpadula commented on #47
Hi Bruno, thanks for the quick answer, I'm editing the StackBlitz that you shared. Check [this](https://angular5-data-table-live-demo-2ucfzn.stackblitz.io) I've added the callback filaClick to your example starter code.

To the other question if I can access to table.selectedRows the answer is: yes but, it's the same that

[code]
In the StackBlitz you can see the console, there are undefined at th

[2018-08-22 15:20] dpadula commented on #47
I added an [update](https://angular5-data-table-live-demo-2ucfzn.stackblitz.io):

With this you can decide what row is selected to add or remove when it's selected or not:

[code]

could it be a possible way ?

[2018-08-26 19:21] DancingDad opened #49 "data-table Parameters do not sort column by default"
Hi,

Adding the data-table parameters:
    [sortBy]="'column-name'"
    [sortAsc]="true"

Sets the column and the sort arrow, but does not sort the rows in the table. Manually clicking on the sort arrows in the table sorts the rows (either ascending/descending), but not by default using these parameters. Am I not doing something incorrectly or is this an issue?

Great component by the way!

[2018-08-27 10:24] brunano21 commented on #49
Hi @DancingDad uhm, that's weird, could you show your code? Bear in mind that `sortyBy` value should be equal to the `property` value of your column.
If this is not helpful yet, can you replicate this using StackBlitz? You can use [this](https://stackblitz.com/edit/angular5-data-table-live-demo) a starter.

[2018-08-27 17:47] DancingDad commented on #49
Hi @brunano21 ,

Thanks for the quick response!

Yes, the property and the sortBy are the same. In this case:
[sortBy]="'title'"
[property]="'title'"

However, the table does not want to show as sorted by said column on navigation to the page. Your "starter" version on StackBlitz works as expected once the above values have been included. This clearly points to something erroneous in my code. I wi

[2018-08-27 18:01] brunano21 commented on #49
@DancingDad Ok, I'll close this. But feel free to reopen it if you still don't figure it.

[2018-08-27 18:01] #49 closed, assigned to nobody

[2018-08-27 18:02] brunano21 commented on #31
Closing for inactivity. Feel free to reopen it if still struggling.

[2018-08-27 18:02] #31 closed

[2018-08-27 18:04] brunano21 commented on #40
All columns have to be defined into your component's template. However, you can toggle its visibility using the `visible` flag. Would it be helpful?

[2018-08-27 18:05] brunano21 commented on #47
Yeah, why not?

[2018-08-27 18:05] #37 closed, assigned to nobody

[2018-08-31 01:04] luidiva opened #50 "How can I call reload from an external button?"
Hi, how are you doing?

I am creating some filters and I need to call "reloadItems" method but I need the params. How can I call reloadItems or get access to datatable search params?

Thank you in advance.

[2018-08-31 02:20] luidiva commented on #50
Found the solution:
@ViewChild(DataTable) myTable: DataTable;

Thank you

[2018-08-31 02:45] #50 closed, assigned to nobody

[2018-08-31 19:19] carlosmori94 opened #51 "How to set default sorting column"
I want my grid to start with the arrow facing up so the user knows the grid is sorted by default.
![image](https://user-images.githubusercontent.com/21184028/44931879-8885a080-ad39-11e8-9257-cbe216e55a1d.png)

Thanks in advance!

[2018-08-31 19:29] brunano21 commented on #51
Hi, you can use DataTable's`[sortAsc]=true`.

[2018-08-31 19:29] #51 closed, assigned to nobody

[2018-08-31 20:26] carlosmori94 commented on #51
@brunano21 Thanks for the fast reply but that isn't working, when I populating the grid I need the first column to start with an intuitive arrow facing up, so the user understands is sorted by default.
I got it like this
![image](https://user-images.githubusercontent.com/21184028/44934355-e8cd1000-ad42-11e8-81d3-37b5bd0b51ae.png)

I need it like this
![image](https://user-images.githubusercontent.

[2018-08-31 20:57] brunano21 commented on #51
Hi, then you also need to set `[sortBy]="'policyNumber'"`. This will sort the table by _Policy #_.

[2018-09-03 14:32] carlosmori94 commented on #51
Thanks man, that worked perfectly!

[2018-09-04 09:48] gayatribaghel commented on #48
Hey @potjerodekool , Can you please elaborate your answer with the required code changes.

[2018-09-05 21:20] MtarantoOa opened #52 "Get Jason of current View"
Hi,

Just want to know if there is a way to get the Json of the current view of the table.

Thanks!

[2018-09-06 07:27] brunano21 commented on #52
Hi @MtarantoOa , isn't _Json of the current view of the table_ your table data?

[2018-09-06 12:31] MtarantoOa commented on #52
Hi @brunano21 thanks for the response.

My json have more properties than my table.

So I was wondering if there is a way to get the table content in json format.

Thanks!

[2018-09-06 14:16] gayatribaghel commented on #48
Any answers please @potjerodekool @brunano21

[2018-09-06 16:25] brunano21 commented on #48
@gayatribaghel after you get the data back, just set `datatable.offset =  0` to go back to page one.

[2018-09-06 18:01] potjerodekool commented on #48
Hi @gayatribaghel

Here's a little demo project that demostrates how I did it.
https://github.com/potjerodekool/angular-demo

In src/app/app.component.html I have the datatable where I bind the offset property.
In src/app/app.component.ts in the reload function the offset property is updated.
In the searchEmployees function I filter on the loaded data and call the reload function with a
DataTableP

[2018-09-26 10:37] niteshkumar-singh opened #53 "how to make pagination default open"
how to make pagination default open like this image

![bootstrap-pagination-sizes](https://user-images.githubusercontent.com/12095685/46074787-30aa5000-c1a6-11e8-8ce9-e2b36255d909.png)

[2018-09-26 10:45] brunano21 commented on #53
It's not possible at the moment.

[2018-09-26 10:45] #53 closed, assigned to nobody

[2018-10-02 20:02] Lesger117 commented on #43
Thanks @brunano21 , sorry for answer this late, is it possible to add an event to a row for example (mouseenter) property to then call a function, its because I can't find the way to use an hover trigger when user is on the row, and I only have the data-table-column tag so I don't know if it's possible to add this to the current version of angular-4-data-table. Regards

[2018-10-19 06:28] christseng89 opened #54 "Upgrade Project to Angular 7"
When upgrade project to Angular 7, error message shows:

Package "angular5-data-table" has an incompatible peer dependency to "@angular/core" (requires "^5.0.0" (extended), would install "7.0.0").

Package "angular5-data-table" has an incompatible peer dependency to "@angular/common" (requires "^5.0.0" (extended), would install "7.0.0").

BTW, angular5-data-table is working properly w Angular V6.

[2018-10-25 12:34] ValdenirAlves opened #55 "Pagination not working"
Even having the pagination set and being show at the bottom of the table, the pages are not being split and is showing only one page. In my case it should have 8 pages with 10 items in each page.

[2018-11-01 11:45] pravin-d opened #56 "Is there a provision for search and fixed headers?"
I'm trying to use this repo to replace the datatables. I wanted to know if there is a provision for search and fixed headers functionalities?

[2018-11-02 13:33] pravin-d opened #57 "How to customize components ?"

[2019-01-10 10:38] hb1998 commented on #55
yeah , Please provide a fix

[2019-01-14 13:40] brunano21 commented on #55
@ValdenirAlves Can you show your code, please?

[2019-01-25 16:30] joaquinwojcik commented on #55
Im having the same problem.
@brunano21 here's my code.

**user.template.html**
[code]

**user.component.ts**

[code]

And this isn't working, cause it never "split" the rows.

[2019-02-23 05:45] prakashkaruppiah opened #58 "how to refresh data table after remove records ?"
After remove records,it will show while searching,we tried reload function.Please give us solution.

[2019-03-05 07:01] paresh-2016 opened #59 "bootstrap 4.3.1 pagination UI issue"
Pagination UI got misaligned with latest bootstrap 4.3.1
![image](https://user-images.githubusercontent.com/19144470/53786735-957e8900-3f42-11e9-984d-6c54eecf6169.png)

[2019-03-31 14:52] vaisakhraveendran opened #60 "Not compatible with angular 7"
When I am using this module in angular 7 getting error cant resolve rxjs/Subject. Please help.

[2019-04-02 21:20] lshhadeh commented on #60
same here ,
solved by : npm install --save rxjs-compat

[2019-04-14 08:59] fathimaburhana commented on #13
i am facing the same issue. my angular version is 6 and node version is 10.13.0
please help .
![Capture](https://user-images.githubusercontent.com/44427470/56090591-b6cb8100-5ec1-11e9-8fd4-45dfd1852837.PNG)
![Capture1](https://user-images.githubusercontent.com/44427470/56090592-b6cb8100-5ec1-11e9-90b7-62823500ce74.PNG)

@brunano21

[2019-10-29 12:58] luidiva commented on #45
<ng-template #dataTableExpand let-item="item">
            <div [textContent]="item.description" style="padding: 5px; color: gray"></div>
        </ng-template>

[2019-11-08 13:25] brunano21 commented on #45
Unfortunately no, but I'll be happy to accept PR. It should be pretty easy to add it.

[2019-11-27 06:27] prakashkaruppiah opened #62 "Page Loading Issues"
We tried load 50000 and above records ,but crashing when it loads , please provide me a solution .

[2020-01-07 04:30] #40 closed, assigned to nobody

[2020-02-10 08:32] brunano21 commented on #62
Well it's a bit pretentious to load 50k record at once :-)

[2020-05-01 17:30] d0rian7 opened #63 "How to get current page number?"
Hi all,
Is there a simple way to get the current page number?

Cheers

[2020-05-01 19:00] brunano21 commented on #63
Hi.
`yourTableInstance.page` will give you the current page number.

[2020-05-01 20:52] d0rian7 commented on #63
thanks, I was blind. :-)

[2020-05-01 20:52] #63 closed, assigned to nobody

[2020-10-05 11:15] Niks-sagi opened #64 "Sorting and Paging not working"
I am learning Angular and trying to implement a data table in my project and get the following error:

ERROR in node_modules/angular5-data-table/datatable.module.d.ts:14:23 - error TS2314: Generic type 'ModuleWithProviders<T>' requires 1 type argument(s)

Version:
![image](https://user-images.githubusercontent.com/72387931/95072933-a4827a00-0729-11eb-930f-1d8aca3f5b6f.png)

my HTML looks like:

`<

[2021-12-22 15:47] bharukarupesh11 opened #65 "import of DataTableModule throwing an error"
Hi,
I've installed **angular-4-data-table** package and imported DataTableModule in app.module.ts imports section.

**Import Statement:**
import {DataTableModule} from 'angular-4-data-table';

When I run **ng serve** command I get the below error,
**Error:**
{project_path}\node_modules@angular\compiler-cli\ngcc\src\rendering\utils.js:23
return new imports_1.R3SymbolsImportRewriter(r3SymbolsFile.fi

[2021-12-24 17:07] brunano21 commented on #65
Hi @bharukarupesh11,

what version of Angular are you using? Unfortunately, this project hasn't been upgraded lately and it might not work with latest versions of Angular.